<a href="https://colab.research.google.com/github/shaileshmeivel/Machine-Learning/blob/main/Excercise_3_(ML).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# 19CSE305: MACHINE LEARNING LAB **3** 

EXCERCISES

ROLL NUMBER:

Upload the dataset Automobile_data.csv and complete the following task

1. From the given dataset print the first and last five rows

2. Find the most expensive car company name

3. Print All Toyota Cars details

4. Count total cars per company

5. Find each companyâ€™s Higesht price car

6. Find the average mileage of each car making company

7. Find five number summary

8. Sort all cars by Price column

9. Concatenate two data frames given below
    
    GermanCars = {'Company': ['Ford', 'Mercedes', 'BMV', 'Audi'], 'Price': [23845, 171995, 135925 , 71400]}
    
    japaneseCars = {'Company': ['Toyota', 'Honda', 'Nissan', 'Mitsubishi '], 'Price': [29995, 23600, 61500 , 58900]}

10. Merge two data frames given below

    Car_Price = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'Price': [23845, 17995, 135925 , 71400]}
    
    car_Horsepower = {'Company': ['Toyota', 'Honda', 'BMV', 'Audi'], 'horsepower': [141, 80, 182 , 160]}

In [1]:
#Question 1
import pandas as pd
dataset = pd.read_csv('Automobile_data.csv')
print(dataset[:5])
print(dataset[-5:])

   index      company   body-style  wheel-base  length engine-type  \
0      0  alfa-romero  convertible        88.6   168.8        dohc
1      1  alfa-romero  convertible        88.6   168.8        dohc
2      2  alfa-romero    hatchback        94.5   171.2        ohcv
3      3         audi        sedan        99.8   176.6         ohc
4      4         audi        sedan        99.4   176.6         ohc

  num-of-cylinders  horsepower  average-mileage    price
0             four         111               21  13495.0
1             four         111               21  16500.0
2              six         154               19  16500.0
3             four         102               24  13950.0
4             five         115               18  17450.0
    index     company body-style  wheel-base  length engine-type  \
56     81  volkswagen      sedan        97.3   171.7         ohc
57     82  volkswagen      sedan        97.3   171.7         ohc
58     86  volkswagen      sedan        97.3   171.7         ohc
59     87       volvo      sedan       104.3   188.8         ohc
60     88       volvo      wagon       104.3   188.8         ohc

   num-of-cylinders  horsepower  average-mileage    price
56             four          85               27   7975.0
57             four          52               37   7995.0
58             four         100               26   9995.0
59             four         114               23  12940.0
60             four         114               23  13415.0

In [9]:
#Question 2:
# size=len(dataset)
# number = 0
# pricee = 0
# for i in range (0, size):
#   if(dataset.price[i]>pricee):
#     number = i
#     pricee = dataset.price[i]
# number
# dataset.company[number]

maxValue = dataset['price'].idxmax()
dataset.company[maxValue]

'mercedes-benz'